name: aeroscope
on: [push]
jobs:
  build-publish:
    if: startsWith(github.ref, 'refs/tags/aeroscope-v')
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v2

    - name: Set up python ${{ matrix.python-version }}
      id: setup-python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true
        installer-parallel: true

    - name: Aeroscope - Build + Deploy
      run: |
        cd aeroscope && make build
        cd aeroscope && make publish
