name: lint-test-build-release
on: [push, pull_request]
permissions:
  contents: write
jobs:
  lint-test:
    strategy:
      matrix:
        os: [ "ubuntu-latest" ]
<<<<<<< HEAD
        python-version: ["3.6", "3.9", "3.10"]
=======
        python-version: ["3.4", "3.9", "3.11"]
>>>>>>> 34846ab (increase range of python versions in cicd tests; build on older linux for gcc bug)
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v2

    - name: Set up python ${{ matrix.python-version }}
      id: setup-python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true
        installer-parallel: true

    - name: Load cached venv
      id: cached-poetry-dependencies
      uses: actions/cache@v2
      with:
        path: .venv
        key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

    - name: Install dependencies
      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      run: poetry install --no-interaction --no-root

    - name: Install library
      run: poetry install --no-interaction

    - name: Run style checks
      run: |
        make check-codestyle

    - name: Run tests
      run: |
        make test

  build:
    needs: lint-test
    strategy:
      matrix:
        python-version: ["3.9"]
        os: ["ubuntu-18.04", "windows-latest", "macos-latest"]
    runs-on: ${{ matrix.os }}
    if: startsWith(github.ref, 'refs/tags/')
    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v2

    - name: Set up python ${{ matrix.python-version }}
      id: setup-python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true
        installer-parallel: true

    - name: Load cached venv
      id: cached-poetry-dependencies
      uses: actions/cache@v2
      with:
        path: .venv
        key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

    - name: Install dependencies
      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      run: poetry install --no-interaction --no-root

    - name: Install library
      run: poetry install --no-interaction

    - name: Build wheel and report
      if: matrix.os == 'ubuntu-latest'
      run: |
        make build
        make package-report

    - uses: actions/upload-artifact@v3
      if: matrix.os == 'ubuntu-latest'
      with:
        path: airflow_report.pyz

    - name: Build binary
      run: |
        make package-pyinstaller

    - uses: actions/upload-artifact@v3
      with:
        path: |
          telescope-*

  release:
    needs: build
    runs-on: "ubuntu-latest"
    if: startsWith(github.ref, 'refs/tags/')

    steps:
    - uses: actions/download-artifact@v3

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        prerelease: true
        generate_release_notes: true
        files: |
          artifact/airflow_report.pyz
          artifact/telescope-*
